.header{
    background: url(../img/background/background.jpg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    height: 200px;
}
.logotipo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logotipo h1{
    width: 100%;
    color: white;
    font-weight: 100;
}
.logotipo 
p{
    color: #1fff02;
    font-weight: 100;

}
.logotipo hr{
    width: 100%;
}
.callme {
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: end;
    color: white;
    font-weight: 100;
    gap: 10px;
}

.boxtext1{
    display: flex;
    align-items: flex-end;
}
.number{
    font-size: 20px;
}
.boxtext2 .carting{
    margin-left: 10px;
}
.boxtext2 ul{
    display: flex;

}
.boxtext2 ul li{
    margin-left: 10px;
    margin-right: 10px;
}
.boxtext2 a {
    text-decoration: none;
    color: greenyellow;
}
.line{
    width: 1px;
    background: #1fff02;
}


@media screen and (max-width: 768px) {
    .header{
        height: 112px;
        background-size: cover;       
        padding-left: 10px;
        padding-right: 10px;

    }
    .callme{
        display: none;
    }
}